absl-py==2.1.0
array_record==0.5.1
astunparse==1.6.3
certifi==2024.7.4
charset-normalizer==3.3.2
chex==0.1.86
click==8.1.7
cloudpickle==3.0.0
contextlib2==21.6.0
contourpy==1.2.1
cycler==0.12.1
decorator==5.1.1
dill==0.3.8
distrax==0.1.5
dm-env==1.6
dm-haiku==0.0.12
dm-tree==0.1.8
docstring_parser==0.16
enn==0.1.0
etils==1.7.0
flatbuffers==24.3.25
flax==0.8.5
fonttools==4.53.1
fsspec==2024.6.1
gast==0.6.0
google-pasta==0.2.0
grpcio==1.65.4
h5py==3.11.0
idna==3.7
immutabledict==4.2.0
importlib_resources==6.4.0
jax==0.4.31
jaxlib==0.4.31
jaxline==0.0.8
jmp==0.0.4
joblib==1.4.2
keras==3.4.1
kiwisolver==1.4.5
libclang==18.1.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1.post1
mdurl==0.1.2
mizani==0.11.4
ml_collections==0.1.1
ml-dtypes==0.4.0
msgpack==1.0.8
namex==0.0.8
nest-asyncio==1.6.0
numpy==1.26.4
opt-einsum==3.3.0
optax==0.2.3
optree==0.12.1
orbax-checkpoint==0.5.23
packaging==24.1
pandas==2.2.2
patsy==0.5.6
pillow==10.4.0
pip==24.2
plotnine==0.13.6
promise==2.3
protobuf==3.20.3
psutil==6.0.0
pyarrow==17.0.0
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
requests==2.32.3
rich==13.7.1
rlax==0.1.6
scikit-learn==1.5.1
scipy==1.14.0
setuptools==72.1.0
simple_parsing==0.1.5
six==1.16.0
statsmodels==0.14.2
tabulate==0.9.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-datasets==4.9.6
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.15.0
tensorflow-probability==0.24.0
tensorstore==0.1.64
termcolor==2.4.0
tf_keras==2.17.0
threadpoolctl==3.5.0
toml==0.10.2
toolz==0.12.1
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
Werkzeug==3.0.3
wheel==0.44.0
wrapt==1.16.0
zipp==3.19.2
